<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title>タイトル</title>
  <!-- SEO系 -->
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <!-- OGP -->
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="@">
  <meta name="format-detection" content="telephone=no">
  <!-- タッチアイコン -->
  <link rel="apple-touch-icon" sizes="192x192" href="">
  <link rel="shortcut icon" sizes="192x192" href="">
 <!-- ファビコン -->
  <link rel="icon" href="" />  
 <!-- クローラー -->
  <meta name="robots" content="noindex">
  <!-- swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  <!-- css -->
  <link rel="stylesheet" href="./css/styles.css" />
  <!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script defer src="./js/script.js"></script>
</head>
