@use 'global' as * ; 

.p-news {
padding: rem(12) 0 rem(56);
position: relative;
background: $color-back4;
}

.p-news__title {
text-align: left;
}

.p-news__text {
margin-top: rem(28);
text-align: center;

}

.p-news__cards {
margin-top: rem(30);
}

.p-news__cards-inner {
  padding: 0 rem(10);
}

.p-news__card {
  margin-top: rem(30);
}

.p-news__btn {
margin-top: rem(24);
text-align: center;
}



@include mq(tab) {
  .p-news {
    padding: rem(80) 0 rem(80);
    }


    .p-news__text {
      margin-top: rem(36);
      
      }
      
      .p-news__cards {
      margin-top: rem(40);
      }

      .p-news__cards-inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-20);
        padding: 0;
      }

      .p-news__card {
        width: calc(33.3% - #{rem(20)} * 3 / 3);
        margin-left: rem(20);
        margin-top: 0;
        // margin-top: rem(40);
      }
      
      .p-news__btn {
      margin-top: rem(33);
      }
}