<article class="c-card | <%- modifier %>">
  <a href="">
    <div class="c-card__head">
      <figure class="c-card__img">
        <img src="<%- img %>" alt="イメージ">
      </figure><!-- /.c-card__img -->
    </div><!-- /.c-card__head -->
    <div class="c-card__block">
      <div class="c-card__body">
        <h2 class="c-card__title"><%- title %></h2><!-- /.c-card__title -->
        <p class="c-card__text"><%- text %></p><!-- /.c-card__title -->
      </div><!-- /.c-card__body -->
    </div><!-- /.c-card__block -->
  </a>
</article>