<article class="c-card2 c-card2--news">
  <a href="">
    <div class="c-card2__head">
      <figure class="c-card2__img">
        <img src="./images/common/image1.jpg" alt="イメージ">
      </figure><!-- /.c-card2__img -->
    </div><!-- /.c-card2__head -->
    <div class="c-card2__body">
      <h2 class="c-card2__title"><%- title %></h2><!-- /.c-card2__title -->
      <p class="c-card2__text"><%- text %></p><!-- /.c-card2__title -->
    </div><!-- /.c-card2__body -->
  </a>
</article>